.places h1 {
	font-size: 30px
}
.places-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.places-list article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px
}
.places-list article h2 {
	font-size: 30px;
	text-align: center;
	margin: 0
}
